.container{
  display: flex;
  
}

.selectedMovie{
  width: 90%;
}
p{
  font-size: 30px;
  font-weight: 900
}

.movieContainer{
  width: 350px;
  margin-top: 20%;

}
.searchButton{
  width: 80px;
}
.searchBar{
  width: 230px;
  height: 20px;
}

.containerMeter{
  width: 88%;
  height: 40px;
  background-color: gray;
  border: solid black;
  margin: 10px 0;
}

.insideMeter{
  width: 60%;
  height: 100%;
  background: pink;
}