.container{
  display: flex;
  
}

.selectedMovie{
  width: 90%;
}
.movieDescription{
  padding: -50px;
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  width: 90%;
}

.movieContainer{
  width: 350px;
  margin-top: 10%;

}
.searchButton{
  width: 80px;
}
.searchBar{
  width: 88%;
  height: 20px;
}

.containerMeter{
  width: 88%;
  height: 40px;
  background-color: gray;
  border: solid black;
  margin: 10px 0;
}

.insideMeter{
  width: 60%;
  height: 100%;
  background: pink;
  color: gray;
}
